{% extends '_base.html' %}
{% load fontawesome %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block content %}
    {% fontawesome_stylesheet %}
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">總報表</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <th></th>
                        <th>金額</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>總支出</td>
                            <td>{{ total_expend }}</td>
                        </tr>
                        <tr>
                            <td>總收入</td>
                            <td>{{ total_income }}</td>
                        </tr>
                        <tr>
                            <td>剩下資產</td>
                            <td>{{ balance }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">建立記錄</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="/billing/record/create/">
                        {% csrf_token %}
                        {% bootstrap_form record_form %}
                        <button type="submit" class="btn btn-primary">新增</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-10 text-center">
            <table class="table table-hover table-condensed ">
                <thead>
                <th>記錄類型</th>
                <th>交易日期</th>
                <th>金額</th>
                <th>操作</th>
                </thead>
                <tbody>
                {% for object in object_list %}
                    {% if object.record_type == object.EXPEND %}
                        <tr class="active">
                            {% elif object.record_type == object.INCOME %}
                        <tr class="warning">
                            {% else %}
                        <tr class="info">
                    {% endif %}

                <td>{{ object.get_record_type_display }}</td>
                <td>{{ object.transaction_date }}</td>
                <td>{{ object.amount }}</td>
                <td>
                    <a href="{% url 'record_detail' object.pk %}">
                        <button type="button" class="btn btn-default">{% fontawesome_icon 'eye' %}</button>
                    </a>
                    <a href="{% url 'record_update' object.pk %}">
                        <button type="button" class="btn btn-primary">{% fontawesome_icon 'edit' %}</button>
                    </a>
                    <a href="{% url 'record_delete' object.pk %}">
                        <button type="button" class="btn btn-danger">{% fontawesome_icon 'trash-o' %}</button>
                    </a>
                </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}