{% extends '_base.html' %}
{% load fontawesome %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}


{% block content %}
    {% fontawesome_stylesheet %}
    <table class="table table-striped">
        <thead>
        <th>項目</th>
        <th>資料</th>
        </thead>
        <tbody>
        <tr>
            <td class="success">記錄類型</td>
            <td>{{ object.get_record_type_display }}</td>
        </tr>
        <tr>
            <td class="success">交易日期</td>
            <td>{{ object.transaction_date }}</td>
        </tr>
        <tr>
            <td class="success">金額</td>
            <td>{{ object.amount }}</td>
        </tr>
        <tr>
            <td class="success">手續費</td>
            <td>{{ object.fee }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}