{% extends '_base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% load fontawesome %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <th>記錄類型</th>
        <th>交易時間</th>
        <th>金額</th>
        </thead>
        <tbody>
        {% for object in object_list %}
            <td>{{ object.get_record_type_display }}</td>
            <td>{{ object.transaction_time }}</td>
            <td>{{ object.amount }}</td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}